In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/shrikant-temburwar/Wine-Quality-Dataset/master/winequality-red.csv', sep = ';')

In [ ]:
data['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1359.0,8.310596,1.736990,4.60000,7.1000,7.9000,9.20000,15.90000
volatile acidity,1359.0,0.529478,0.183031,0.12000,0.3900,0.5200,0.64000,1.58000
citric acid,1359.0,0.272333,0.195537,0.00000,0.0900,0.2600,0.43000,1.00000
residual sugar,1359.0,2.523400,1.352314,0.90000,1.9000,2.2000,2.60000,15.50000
chlorides,1359.0,0.088124,0.049377,0.01200,0.0700,0.0790,0.09100,0.61100
free sulfur dioxide,1359.0,15.893304,10.447270,1.00000,7.0000,14.0000,21.00000,72.00000
total sulfur dioxide,1359.0,46.825975,33.408946,6.00000,22.0000,38.0000,63.00000,289.00000
density,1359.0,0.996709,0.001869,0.99007,0.9956,0.9967,0.99782,1.00369
pH,1359.0,3.309787,0.155036,2.74000,3.2100,3.3100,3.40000,4.01000
sulphates,1359.0,0.658705,0.170667,0.33000,0.5500,0.6200,0.73000,2.00000
alcohol,1359.0,10.432315,1.082065,8.40000,9.5000,10.2000,11.10000,14.90000
quality,1359.0,5.623252,0.823578,3.00000,5.0000,6.0000,6.00000,8.00000

In [ ]:
data['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [ ]:
data.duplicated().sum()

240

In [ ]:
data = data.drop_duplicates()

In [ ]:
data.duplicated().sum()

0

In [ ]:
from sklearn.model_selection import train_test_split
import time

In [ ]:
x = data.drop('quality', axis = 1)
y = data['quality']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size = .33, random_state = 10)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

start_time = time.time()
model_dt = DecisionTreeClassifier()
model_dt.fit(x_train,y_train)
y_pred_dt = model_dt.predict(x_test)
model_dt.score(x_test, y_test)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.0185394287109375 seconds ---

In [ ]:


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()


x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

start_time = time.time()
model_dt_scaled = DecisionTreeClassifier()
model_dt_scaled.fit(x_train_scaled, y_train)
y_pred_dt_scaled = model_dt_scaled.predict(x_test_scaled)
model_dt_scaled.score(x_test_scaled, y_test)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.022331714630126953 seconds ---

In [ ]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
}

from sklearn.model_selection import GridSearchCV

grid_search=GridSearchCV(estimator=model, param_grid=grid_param, cv=5